.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 300px);

	justify-items: center;
	align-items: center;
}

.especial {
	justify-self: stretch;
	align-self: stretch;
}
