body {
	background: #f2f2f2;
}

.contenedor {
	background: #fff;
	padding: 20px;
	margin: 20px;
	overflow: hidden;

	.imagen {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.caja {
		background: #000;
		color: #fff;
		padding: 20px;
		margin: 5px;

		&:nth-child(1) {
			float: left;
		}

		&:nth-child(2) {
			float: right;
		}
	}

	.clear {
		clear: both;
	}
}
