<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="css/estilos.css" />
		<title>Layout con Flexbox y CSS Grid</title>
	</head>
	<body>
		<div class="grid">
			<header class="header">
				<h2 class="logo">Logo</h2>
				<nav>
					<a href="#">Inicio</a>
					<a href="#">Blog</a>
					<a href="#">Contacto</a>
				</nav>
			</header>
			<main class="main">
				<h2 class="titulo">Contenido</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente molestiae nemo neque voluptas
					adipisci odit quidem consequatur, voluptate consequuntur et eligendi similique nam iusto explicabo
					incidunt soluta facere in repellendus quia autem ea temporibus commodi eius? Ab voluptatum
					consectetur aut deserunt suscipit. Expedita cupiditate quas cumque reiciendis saepe laboriosam
					alias.
				</p>
				<a href="#" class="boton">Leer más</a>
			</main>
			<aside class="aside">
				<h2 class="titulo">Aside</h2>
			</aside>
			<section class="widgets">
				<div class="widget">
					<h3 class="titulo">Widget</h3>
				</div>
				<div class="widget">
					<h3 class="titulo">Widget</h3>
				</div>
				<div class="widget">
					<h3 class="titulo">Widget</h3>
				</div>
			</section>
			<footer class="footer">
				<h2 class="titulo">Footer</h2>
				<p>© 2023 FalconMasters. Todos los derechos reservados.</p>
			</footer>
		</div>
	</body>
</html>
